n8n/tenant-a/Reservation-workflow/Reservation.json
{
  "name": "Reservation",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger_node_1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        112,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg1",
              "name": "nombreRestaurante",
              "type": "string",
              "value": "tacomieno"
            },
            {
              "id": "cfg2",
              "name": "telefonoPedidos",
              "type": "string",
              "value": "+51-987654321"
            },
            {
              "id": "cfg3",
              "name": "descripcion",
              "type": "string",
              "value": "Taquería y antojos — pedidos y reservas disponibles."
            },
            {
              "id": "cfg6",
              "name": "plantillaWhatsapp",
              "type": "string",
              "value": "plantilla_reserva_v1"
            },
            {
              "id": "cfg7",
              "name": "modeloAgenteIA",
              "type": "string",
              "value": "gpt-4o-mini"
            },
            {
              "id": "cfg9",
              "name": "zonaHoraria",
              "type": "string",
              "value": "America/Lima"
            }
          ]
        },
        "options": {}
      },
      "id": "config_global_node_1",
      "name": "Configuración - Global",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        208
      ]
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "whatsapp_trigger_node_1",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        112,
        48
      ],
      "webhookId": "b683d199-d836-4837-b0f3-4501a158747f"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "location"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Ubicación"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "audio"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "id": "switch_tipo_mensaje_node_1",
      "name": "Switch - Tipo de mensaje",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        320,
        48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sc1",
              "name": "telefono",
              "type": "string",
              "value": "={{ $json.messages[0].from }}"
            },
            {
              "id": "sc2",
              "name": "nombre",
              "type": "string",
              "value": "={{ $json.contacts && $json.contacts[0] && $json.contacts[0].profile && $json.contacts[0].profile.name ? $json.contacts[0].profile.name : ($json.messages[0].text && $json.messages[0].text.body ? $json.messages[0].text.body : '') }}"
            },
            {
              "id": "sc3",
              "name": "primerMensaje",
              "type": "string",
              "value": "={{ $json.messages[0].text && $json.messages[0].text.body ? $json.messages[0].text.body : '' }}"
            },
            {
              "id": "sc4",
              "name": "metadata",
              "type": "json",
              "value": "={{ $json }}"
            }
            ,
            {
              "id": "sc5",
              "name": "telefonoPedidos",
              "type": "string",
              "value": "+51-987654321"
            },
            {
              "id": "sc6",
              "name": "modeloAgenteIA",
              "type": "string",
              "value": "gpt-4o-mini"
            }
          ]
        },
        "options": {}
      },
      "id": "set_cliente_datos_node_1",
      "name": "Set - Datos Cliente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO clientes (telefono, nombre, primer_mensaje, metadatos)\nVALUES ($1, $2, $3, $4::jsonb)\nON CONFLICT (telefono) DO UPDATE\nSET nombre = COALESCE(EXCLUDED.nombre, clientes.nombre),\n    primer_mensaje = COALESCE(clientes.primer_mensaje, EXCLUDED.primer_mensaje),\n    metadatos = clientes.metadatos || EXCLUDED.metadatos,\n    actualizado_en = now()\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.telefono + ',' + $json.nombre + ',' + $json.primerMensaje + ',' + JSON.stringify($json.metadata) }}"
        }
      },
      "id": "db_upsert_cliente_node_1",
      "name": "DB - Upsert Cliente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": false,
      "position": [
        768,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversaciones (cliente_id, direccion, contenido, metadatos) VALUES ($1, $2, $3, $4::jsonb) RETURNING id;",
        "options": {
          "queryReplacement": "={{ $node['DB - Upsert Cliente'].json.id + ',' + 'inbound' + ',' + $node['Set - Datos Cliente'].json.primerMensaje + ',' + JSON.stringify($node['Set - Datos Cliente'].json.metadata) }}"
        }
      },
      "id": "db_insert_inbound_message_node_1",
      "name": "DB - Insert Inbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": false,
      "position": [
        960,
        48
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "responsesApiEnabled": true,
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a concise and helpful reservations assistant. Always confirm availability, ask clarifying questions for missing info, and be polite and brief. Keep the reply short and clear."
            },
            {
              "role": "user",
              "content": "={{ 'Mensaje del cliente: ' + $node[\"Set - Datos Cliente\"].json.primerMensaje + '\\nCliente: ' + $node[\"Set - Datos Cliente\"].json.nombre + ' (' + $node[\"Set - Datos Cliente\"].json.telefono + ')' }}"
            }
          ]
        },
        "options": {
          "maxTokens": 800
        }
      },
      "id": "ai_agent_responder_node_1",
      "name": "AI Agent - Responder",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": false,
      "position": [
        1160,
        48
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO conversaciones (cliente_id, direccion, contenido, metadatos) VALUES ($1, $2, $3, $4::jsonb) RETURNING id;",
        "options": {
          "queryReplacement": "={{ $node['DB - Upsert Cliente'].json.id + ',' + 'outbound' + ',' + ( $node['AI Agent - Responder'].json.responseText ? $node['AI Agent - Responder'].json.responseText : ( $node['AI Agent - Responder'].json.choices && $node['AI Agent - Responder'].json.choices[0] && $node['AI Agent - Responder'].json.choices[0].message && $node['AI Agent - Responder'].json.choices[0].message.content ? $node['AI Agent - Responder'].json.choices[0].message.content : ( $node['AI Agent - Responder'].json.text ? $node['AI Agent - Responder'].json.text : ''))) + ',' + JSON.stringify($node['Set - Datos Cliente'].json.metadata) }}"
        }
      },
      "id": "db_insert_outbound_message_node_1",
      "name": "DB - Insert Outbound Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": false,
      "position": [
        1360,
        48
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "={{ $node[\"Set - Datos Cliente\"].json.telefonoPedidos || $node[\"Configuración - Global\"].json.telefonoPedidos || 'WHATSAPP_PHONE_ID' }}",
        "recipientPhoneNumber": "={{ $node[\"Set - Datos Cliente\"].json.telefono }}",
        "textBody": "={{ $node[\"AI Agent - Responder\"].json.responseText || $node[\"AI Agent - Responder\"].json.text || ($node[\"AI Agent - Responder\"].json.choices && $node[\"AI Agent - Responder\"].json.choices[0] && $node[\"AI Agent - Responder\"].json.choices[0].message ? $node[\"AI Agent - Responder\"].json.choices[0].message.content : '') || 'Hola, estoy procesando su solicitud.' }}",
        "additionalFields": {}
      },
      "id": "whatsapp_send_node_1",
      "name": "WhatsApp - Send Message",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": false,
      "position": [
        1600,
        48
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configuración - Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch - Tipo de mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Tipo de mensaje": {
      "main": [
        [
          {
            "node": "Set - Datos Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Datos Cliente": {
      "main": [
        [
          {
            "node": "DB - Upsert Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Upsert Cliente": {
      "main": [
        [
          {
            "node": "DB - Insert Inbound Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Insert Inbound Message": {
      "main": [
        [
          {
            "node": "AI Agent - Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent - Responder": {
      "main": [
        [
          {
            "node": "DB - Insert Outbound Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DB - Insert Outbound Message": {
      "main": [
        [
          {
            "node": "WhatsApp - Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "fe86e9d0-aa35-4b95-9abc-a89b0f318d26",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5c77fd69a044fc8332661839d745fcc4cdf4ca99c0317eb006f96ebbbb87b133"
  },
  "id": "P4e7Oy5tCskzPXrS",
  "tags": []
}